@import url("./fonts.scss");

:root {
    --bg-item-color: #ffb457;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
    box-sizing: border-box;
}

html *,
html *::before,
html *::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: $textColor;
    background-color: var(--bgColorMenuItem);
    transition: background-color $slowTransition;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Verdana, sans-serif;
}

.i-icon {
    vertical-align: text-top;
}
